@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/THICCCBOI-Regular.woff2) format("woff2"), url(../fonts/THICCCBOI-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/THICCCBOI-Medium.woff2) format("woff2"), url(../fonts/THICCCBOI-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/THICCCBOI-Bold.woff2) format("woff2"), url(../fonts/THICCCBOI-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: THICCCBOI, sans-serif !important;
  font-size: 0.85rem;
}

.content-wrapper .section_title {
  font-size: 42px;
  text-align: center;
  padding: 2.5rem 0;
  color: #343f52;
  margin-bottom: 5rem !important;
  border-bottom: 1px solid rgba(164, 174, 198, 0.2);
}
.content-wrapper .section_title .colorize {
  font-size: 42px;
  color: #E20919;
}
.content-wrapper_grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}
.content-wrapper_grid .plaintext .title-question {
  color: #343f52;
  font-size: 38px;
  margin-bottom: 2rem;
}
.content-wrapper_grid .plaintext .title-question .colorize {
  font-size: 38px;
  color: #6cb769;
}
.content-wrapper_grid .plaintext .description {
  font-size: 18px;
  font-family: inherit;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: #60697b;
}
.content-wrapper_grid .plaintext ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
.content-wrapper_grid .plaintext ul li {
  font-size: 18px;
  font-family: THICCCBOI, sans-serif;
  font-weight: 500;
  color: #60697b;
}
.content-wrapper_grid .plaintext ul li .colorize {
  font-size: 13px !important;
  color: #6cb769;
  background: rgba(109, 183, 106, 0.3);
  padding: 5px;
  border-radius: 100%;
  display: inline-block;
}
.content-wrapper_grid .plaintext .plus-info {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #6cb769;
  background: rgba(109, 183, 106, 0.2);
  padding: 8px 18px;
  border-radius: 100px;
}
.content-wrapper_grid .with-number .title-question {
  color: #343f52;
  font-size: 38px;
  margin-bottom: 2rem;
}
.content-wrapper_grid .with-number .title-question .colorize {
  font-size: 38px;
  color: #6cb769;
}
.content-wrapper_grid .with-number .description {
  font-size: 18px;
  font-family: inherit;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: #60697b;
}
.content-wrapper_grid .with-number ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
.content-wrapper_grid .with-number ul li {
  display: flex;
  gap: 18px;
  font-size: 20px;
  font-family: THICCCBOI, sans-serif;
  font-weight: 900;
  color: #343f52;
}
.content-wrapper_grid .with-number ul li .desc {
  color: #60697b;
  font-size: 15px;
  font-weight: 300 !important;
  margin-top: 14px;
}
.content-wrapper_grid .with-number ul li .colorize {
  font-size: 15px !important;
  color: #fff;
  height: 15px;
  width: 15px;
  display: inline-table !important;
  background: #6cb769;
  padding: 15px 15px;
  border-radius: 100%;
}
.content-wrapper_grid .with-number .plus-info {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #6cb769;
  background: rgba(109, 183, 106, 0.2);
  padding: 8px 18px;
  border-radius: 100px;
}
.content-wrapper_grid .img-side {
  position: relative;
}
.content-wrapper_grid .img-side figure {
  display: block;
  padding: 0 0.5rem;
}
.content-wrapper_grid .img-side figure img {
  height: 100%;
  width: 100%;
  border-radius: 19px !important;
}

.bio-counter {
  margin: 2rem auto;
}
.bio-counter img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.bio-counter .review {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
  height: 200px;
}
.bio-counter .review-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  position: absolute;
  top: -7rem;
  left: 0;
  right: 0;
  background: url("https://motortech.fr/assets/img/photos/bg3-green.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  height: 100%;
  padding: 0 2rem;
  text-align: center;
  align-items: center;
}
.bio-counter .review-grid::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.bio-counter .review-grid_item {
  z-index: 2;
}
.bio-counter .review-grid_item .numeric-val {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
}
.bio-counter .review-grid_item .string-val {
  margin-top: 0.7rem;
  font-size: 0.95rem;
  color: #fff;
  font-weight: 500;
}

.form-convert {
  margin-top: 2rem;
}
.form-convert .section-title {
  text-align: center;
  width: 50%;
  color: #343f52;
  margin: 4rem auto;
  margin-bottom: 1.75rem;
  font-size: calc(1.335rem + 1.02vw);
}
.form-convert .section-title .colorize {
  color: #E20919;
}
.form-convert .form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1fr;
  gap: 2rem;
}
.form-convert .form-grid_item {
  display: flex;
  gap: 26px;
  padding: 1.4rem 1.2rem;
  border-radius: 18px;
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
}
.form-convert .form-grid_item img {
  height: 2.6rem;
  width: 2.6rem;
}
.form-convert .form-grid_item svg {
  height: 2.6rem;
  width: 2.6rem;
  fill: dodgerblue;
}
.form-convert .form-grid_item .detail-title {
  font-size: 1.3rem;
  color: #343f52;
  font-weight: 700;
  line-height: 1.6;
}
.form-convert .form-grid_item .detail-desc {
  font-size: 17px;
  color: #60697b;
}
.form-convert_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}
.form-convert_grid .plaintext .title-question {
  color: #343f52;
  font-size: 38px;
  margin-bottom: 2rem;
}
.form-convert_grid .plaintext .title-question .colorize {
  font-size: 38px;
  color: #6cb769;
}
.form-convert_grid .plaintext .description {
  font-size: 18px;
  font-family: inherit;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: #60697b;
}
.form-convert_grid .plaintext ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
.form-convert_grid .plaintext ul li {
  font-size: 18px;
  font-family: THICCCBOI, sans-serif;
  font-weight: 500;
  color: #60697b;
}
.form-convert_grid .plaintext ul li .colorize {
  font-size: 13px !important;
  color: #6cb769;
  background: rgba(109, 183, 106, 0.3);
  padding: 5px;
  border-radius: 100%;
  display: inline-block;
}
.form-convert_grid .plaintext .btn-large {
  display: inline-block;
  padding: 0.8rem 4rem;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  background: #6cb769;
  color: #fff;
  font-weight: 900;
}
.form-convert_grid .img-side {
  position: relative;
}
.form-convert_grid .img-side figure {
  display: block;
  padding: 0 0.5rem;
}
.form-convert_grid .img-side figure img {
  height: 100%;
  width: 100%;
  border-radius: 19px !important;
}

@media (min-width: 1200px) {
  .content-wrapper {
    max-width: 1240px !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.85rem;
  }
  .container {
    max-width: 1240px !important;
    margin: 0 auto;
    padding: 5rem 0.75rem;
    width: 100%;
  }
  .form-convert {
    max-width: 1240px !important;
    margin: 0 auto;
  }
  .form-convert .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1fr;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 0.75rem;
  }
}
@media (min-width: 1024px) {
  .content-wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.85rem;
  }
  .container {
    max-width: 960px !important;
    margin: 0 auto;
    padding: 5rem 0.75rem;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .content-wrapper {
    max-width: 769px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.85rem;
  }
  .content-wrapper_grid {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .container {
    max-width: 769px !important;
    margin: 0 auto;
    padding: 1rem 1rem;
    width: 100%;
    width: 100%;
  }
  .container .review {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .container .review-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    position: relative;
    background: url("https://motortech.fr/assets/img/photos/bg3-green.jpg");
    background-size: cover;
    width: 100%;
    margin-top: 5rem;
    background-position: center center;
    border-radius: 8px;
    height: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
    align-items: center;
  }
  .container .review-grid::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .container .review-grid_item {
    z-index: 2;
  }
  .container .review-grid_item .numeric-val {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
  }
  .container .review-grid_item .string-val {
    margin-top: 0.7rem;
    font-size: 0.95rem;
    color: #fff;
    font-weight: 500;
  }
  .form-convert {
    max-width: 769px !important;
    margin: 0 auto;
    padding: 1rem 1rem;
    width: 100%;
    width: 100%;
  }
  .form-convert .section-title {
    width: 80%;
    padding: 2rem 0;
  }
  .form-convert .form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .form-convert_grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */